.features-section {
  padding: 40px;
  text-align: center;
  color: #fff;
  margin-top: -50px;
  padding-left: 120px;
  padding-right: 120px;
}

.features-section h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.features-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.feature-box {
  background-color: #215dac;
  padding: 40px;
  border-radius: 10px;
  width: calc(30% - 35px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-in-out forwards;
}

.feature-box:nth-child(1) {
  animation-delay: 0.5s;
}

.feature-box:nth-child(2) {
  animation-delay: 1s;
}

.feature-box:nth-child(3) {
  animation-delay: 1.5s;
}

.feature-icon {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.feature-box h3 {
  margin-bottom: 10px;
  font-size: 1.8em;
}

.feature-box p {
  font-size: 1.2em;
  line-height: 1.6;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
