.navbar {
  display: flex;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); */
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-title {
  color: #ffffff;
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-right: 290px;
}

.navbar-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  padding: 15px;
}

.navbar-button:hover {
  color: #155a8a;
  transform: scale(1.05);
}
